---

---

<section class="bg-white text-gray-100" id="more">
  <div class="container flex flex-col-reverse mx-auto lg:flex-row">
    <div
      class="flex flex-col px-6 py-8 space-y-6 rounded-sm sm:p-8 lg:p-12 lg:w-1/2 xl:w-2/5 bg-red-400 text-[#08121C]"
    >
      <h2 class="text-3xl font-bold leadi sm:text-4xl">What can you expect from our API?</h2>
      <div class="flex space-x-2 sm:space-x-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="flex-shrink-0 w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"
          ></path>
        </svg>
        <div class="space-y-2">
          <p class="text-lg font-medium leadi">
            Detailed Tournament Information Dive into the exciting world of
            Valorant tournaments.
          </p>
          <p class="leadi">
            Our API provides real-time data on current tournaments, their
            participants, results and key statistics. Stay up to date with the
            latest information and never miss a moment of the competitive
            action.
          </p>
        </div>
      </div>
      <div class="flex space-x-2 sm:space-x-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="flex-shrink-0 w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"
          ></path>
        </svg>
        <div class="space-y-2">
          <p class="text-lg font-medium leadi">
            Professional Team Profiles Meet the teams that dominate Valorant's
            competitive scene.
          </p>
          <p class="leadi">
            Access detailed profiles of professional teams, discover their
            lineups, achievements, statistics and more. Whether you're
            interested in following your favorite team or researching new
            contenders, our API has the information you need.
          </p>
        </div>
      </div>
      <div class="flex space-x-2 sm:space-x-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="flex-shrink-0 w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"
          ></path>
        </svg>
        <div class="space-y-2">
          <p class="text-lg font-medium leadi">
            Star Player Profiles Explore the performance of Valorant's
            professional players.
          </p>
          <p class="leadi">
            Get details about their competitive history, key stats, in-game
            roles and tournament participation. With our API, you can closely
            follow the progress of your favorite players and analyze their
            performance in every game.
          </p>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 xl:w-3/5 flex justify-center items-center bg-white">
      <div class="flex items-center justify-center p-4 md:p-8 lg:p-12">
        <img
          src="/th.webp"
          alt=""
          class="rounded-lg shadow-lg bg-gray-500 aspect-video sm:min-h-96 absolute scale-105 opacity-40 blur-lg"
          draggable="false"
        />
        <img
          src="/th.webp"
          alt=""
          class="rounded-lg shadow-lg bg-gray-500 aspect-video sm:min-h-96 relative z-10"
          draggable="false"
        />
        
      </div>
    </div>
  </div>
</section>
