---

---

<section class="bg-[#08121C] text-gray-100 pattern">
  <div
    class="container mx-auto flex flex-col items-center px-4 py-16 text-center md:py-32 md:px-10 lg:px-32 xl:max-w-3xl"
  >
    <h1 class="text-4xl font-bold leadi sm:text-5xl">
      Unlock the Power of 
      <span class="text-red-400">Valorant</span> Esports Data for Your Website!
    </h1>
    <p class="px-8 mt-8 mb-12 text-lg">
      Developers, enhance your Valorant Esports website with our API, offering real-time, comprehensive data on tournaments, teams, and players. Elevate your site with accuracy and richness seamlessly integrated.
    </p>
    <div class="flex flex-wrap justify-center">
      <a
        href="https://vlresports.vercel.app/"
        target="_blank"
        rel="noopener noreferrer"
        class="px-8 py-3 m-2 text-lg font-semibold rounded bg-red-400 text-[#08121C]"
        >Get started</a
      >
      <a
        href="#more"
        class="px-8 py-3 m-2 text-lg border rounded text-gray-50 border-gray-700"
        >Learn more</a
      >
    </div>
  </div>
</section>

<style>
  .pattern {
    background-color: #08121c;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='10' viewBox='0 0 20 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 6H6v4H4V6H2V4h2V0h2v4h10V0h2v4h2v2h-2v4h-2V6z' fill='%23102840' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
</style>
