---

---

<section class="py-6 bg-red-500 text-gray-900">
  <div
    class="container mx-auto flex flex-col items-center justify-center p-4 space-y-8 md:p-10 md:px-24 xl:px-48"
  >
    <h1 class="text-5xl font-bold leadi text-center">
      Prepárate para Dominar el Campo de Batalla con VLRStats
    </h1>
    <p class="pt-2 pb-8 text-xl font-medium text-center">
      Prueba VLRStats hoy mismo y descubre un nuevo nivel de profundidad en el
      juego. ¡Optimiza tu estrategia, mejora tu rendimiento y alcanza nuevas
      alturas en Valorant!
    </p>
    <a
      href="https://vlrstats.vercel.app/"
      class="px-8 py-3 text-lg font-semibold rounded bg-gray-800 text-gray-50"
      >Ir Ahora</a
    >
  </div>
</section>
