---

---

<footer class="p-4">
  <div class="container flex justify-between items-center h-16 mx-auto">
    <p>
      Made by <a
        rel="noopener noreferrer"
        href="https://orlandomm.net"
        aria-label="Back to homepage"
        title="Orlando Mina"
        class="text-red-500"
      >
        Orlando Mina
      </a>
    </p>
    <ul class="items-stretch space-x-3 flex">
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="https://github.com/Orloxx23/7-Landings"
          class="flex items-center px-4 -mb-1 border-b-2 border-transparent hover:text-red-400 hover:border-red-400"
        >
          7 Landings (7/7)
        </a>
      </li>
    </ul>
  </div>
</footer>
