---

---

<section>
  <div class="bg-red-500">
    <div
      class="container flex flex-col items-center px-4 py-16 pb-24 mx-auto text-center lg:pb-56 md:py-32 md:px-10 lg:px-32 text-gray-900"
    >
      <h1
        class="text-5xl font-bold leadi sm:text-6xl xl:max-w-3xl text-gray-50"
      >
        ¡Descubre el mundo detrás de cada partida en Valorant con VLRStats!
      </h1>
      <p class="mt-6 mb-8 text-lg sm:mb-12 xl:max-w-3xl text-gray-200">
        ¿Te has preguntado alguna vez qué sucede en cada rincón del mapa durante
        una partida de Valorant? ¿Quisieras conocer los secretos detrás de las
        estrategias de los jugadores de élite? ¡Bienvenido a VLRStats, tu
        ventana exclusiva al universo de Valorant!
      </p>
      <div class="flex flex-wrap justify-center">
        <a
          href="https://vlrstats.vercel.app/"
          type="button"
          class="px-8 py-3 m-2 text-lg font-semibold rounded bg-gray-800 text-gray-50"
          >Probar ahora</a
        >
        <a
          href="#features"
          type="button"
          class="px-8 py-3 m-2 text-lg border rounded border-gray-700 text-gray-900"
          >Saber más</a
        >
      </div>
    </div>
  </div>
  <img
    src="/preview.PNG"
    alt=""
    class="w-5/6 mx-auto mb-12 -mt-20 rounded-lg shadow-md lg:-mt-40 bg-gray-500"
  />
</section>
