---

---

<section
  class="overflow-hidden bg-[#242424] sm:grid sm:grid-cols-2 sm:items-center"
>
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div
      class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right"
    >
      <h2 class="text-2xl font-bold text-gray-200 md:text-3xl">
        ¡Prueba TodoAPP Ahora!
      </h2>

      <p class="hidden text-gray-300 md:mt-4 md:block">
        Haz de la organización una tarea fácil y disfruta de la tranquilidad que
        viene con una lista de tareas bien gestionada. ¡Prueba nuestra
        aplicación hoy y da el primer paso hacia una vida más organizada!
      </p>

      <div class="mt-4 md:mt-8">
        <a
          href="https://orloxx23.github.io/todolist/"
          class="inline-block rounded bg-violet-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-violet-700 focus:outline-none focus:ring focus:ring-yellow-400"
        >
          Iniciar Ahora
        </a>
      </div>
    </div>
  </div>

  <img
    alt="Violin"
    src="/preview.webp"
    class="h-full w-full object-cover sm:h-[calc(100%_-_2rem)] sm:self-end sm:rounded-ss-[30px] md:h-[calc(100%_-_4rem)] md:rounded-ss-[60px] shadow-2xl shadow-violet-500"
  />
</section>
