---

---

<section class="bg-[#242424] p-4 text-gray-100">
  <div class="container mx-auto p-4 my-6 space-y-2 text-center">
    <h2 class="text-5xl font-bold">Características Principales</h2>
  </div>
  <div
    class="container mx-auto grid justify-center gap-4 sm:grid-cols-2 lg:grid-cols-2"
  >
    <div class="flex flex-col items-center p-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="128"
        height="128"
        viewBox="0 0 24 24"
        .
        class="w-8 h-8 text-violet-400"
        ><g
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          ><rect width="6" height="6" x="3" y="5" rx="1"></rect><path
            d="m3 17l2 2l4-4m4-9h8m-8 6h8m-8 6h8"></path></g
        ></svg
      >
      <h3 class="my-3 text-3xl font-semibold">Gestión de Tareas Fácil</h3>
      <div class="space-y-1 leadi">
        <p>
          Mantén todas tus tareas bajo control con una interfaz simple y
          amigable. Agrega, edita y marca tus tareas como completadas con un
          solo toque.
        </p>
      </div>
    </div>
    <div class="flex flex-col items-center p-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="128"
        height="128"
        viewBox="0 0 14 14"
        class="w-8 h-8 text-violet-400"
        ><g
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path
            d="M6.13 12.06C4.6 13.6 2 14.11.5 12.57C2.5 10.5.5 9.5 2 8a2.9 2.9 0 1 1 4.09 4.1Z"
          ></path><path
            d="M12.92 1.08A2 2 0 0 0 11.44.5a2 2 0 0 0-1.44.67l-5.38 6A2.85 2.85 0 0 1 6.13 8a3 3 0 0 1 .77 1.31L12.83 4a2 2 0 0 0 .67-1.43a2 2 0 0 0-.58-1.49Z"
          ></path></g
        ></svg
      >
      <h3 class="my-3 text-3xl font-semibold">Diseño Intuitivo y Atractivo</h3>
      <div class="space-y-1 leadi">
        <p>
          Nuestra aplicación presenta un diseño moderno y fácil de usar.
          Disfruta de una experiencia fluida mientras mantienes tus tareas
          organizadas
        </p>
      </div>
    </div>
  </div>
</section>
