---

---

<footer
  class="px-4 py-8 bg-[#242424] text-gray-400 border-t border-t-violet-500"
>
  <div
    class="container flex flex-wrap items-center justify-center mx-auto space-y-4 sm:justify-between sm:space-y-0"
  >
    <div class="flex flex-row pr-3 space-x-4 sm:space-x-8">
      <div
        class="flex items-center justify-center flex-shrink-0 w-12 h-12 rounded-full bg-violet-400"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="128"
          height="128"
          viewBox="0 0 16 16"
          class="size-5 text-[#242424]"
          ><path
            fill="currentColor"
            fill-rule="evenodd"
            d="M3 13.5a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h9.25a.75.75 0 0 0 0-1.5H3a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V9.75a.75.75 0 0 0-1.5 0V13a.5.5 0 0 1-.5.5zm12.78-8.82a.75.75 0 0 0-1.06-1.06L9.162 9.177L7.289 7.241a.75.75 0 1 0-1.078 1.043l2.403 2.484a.75.75 0 0 0 1.07.01z"
            clip-rule="evenodd"></path></svg
        >
      </div>
      <ul class="flex flex-wrap items-center space-x-4 sm:space-x-8">
        <li>
          <a rel="noopener noreferrer" href="/">TodoAPP</a>
        </li>
        <li>
          <a rel="noopener noreferrer" href="https://orlandomm.net"
            >By Orlando Mina</a
          >
        </li>
      </ul>
    </div>
    <ul class="flex flex-wrap pl-3 space-x-4 sm:space-x-8">
      <li>
        <a
          rel="noopener noreferrer"
          href="https://github.com/Orloxx23/7-Landings">7-Landings</a
        >
      </li>
      <li>
        <p>6/7</p>
      </li>
    </ul>
  </div>
</footer>
