---

---

<header class="p-4 bg-[#242424] text-gray-100">
  <div class="container flex justify-between h-16 mx-auto">
    <div class="flex">
      <a
        rel="noopener noreferrer"
        href="/"
        aria-label="Back to homepage"
        class="flex items-center p-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="128"
          height="128"
          viewBox="0 0 16 16"
          class="size-8 text-violet-500"
          ><path
            fill="currentColor"
            fill-rule="evenodd"
            d="M3 13.5a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h9.25a.75.75 0 0 0 0-1.5H3a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V9.75a.75.75 0 0 0-1.5 0V13a.5.5 0 0 1-.5.5zm12.78-8.82a.75.75 0 0 0-1.06-1.06L9.162 9.177L7.289 7.241a.75.75 0 1 0-1.078 1.043l2.403 2.484a.75.75 0 0 0 1.07.01z"
            clip-rule="evenodd"></path></svg
        >
      </a>
      <!-- <ul class="items-stretch hidden space-x-3 lg:flex">
        <li class="flex">
          <a
            rel="noopener noreferrer"
            href="#"
            class="flex items-center px-4 -mb-1 border-b-2 border-transparent"
            >Link</a
          >
        </li>
        <li class="flex">
          <a
            rel="noopener noreferrer"
            href="#"
            class="flex items-center px-4 -mb-1 border-b-2 border-transparent text-violet-400 border-violet-400"
            >Link</a
          >
        </li>
        <li class="flex">
          <a
            rel="noopener noreferrer"
            href="#"
            class="flex items-center px-4 -mb-1 border-b-2 border-transparent"
            >Link</a
          >
        </li>
        <li class="flex">
          <a
            rel="noopener noreferrer"
            href="#"
            class="flex items-center px-4 -mb-1 border-b-2 border-transparent"
            >Link</a
          >
        </li>
      </ul> -->
    </div>
    <div class="items-center flex-shrink-0 flex">
      <a href="https://orloxx23.github.io/todolist/" class="px-8 py-3 font-semibold rounded bg-violet-400 text-gray-900"
        >Entrar a TodoAPP</a
      >
    </div>
  </div>
</header>
