---

---

<section class="px-4 pt-20 pb-24 mx-auto max-w-7xl md:px-2">
  <h1 class="mb-12 text-xl font-bold text-left md:text-3xl md:text-center">
    ¿Por qué elegir TodoAPP?
  </h1>
  <div class="flex items-start justify-start mb-12">
    <svg
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="flex-none w-6 h-6 mr-4 text-gray-700"
      aria-hidden="true"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      ></path>
    </svg>
    <div>
      <p class="mt-0 mb-3 font-semibold text-gray-900">Eficiencia Imparable</p>
      <p class="text-gray-600">
        Simplificamos la gestión de tareas para que puedas concentrarte en lo
        que realmente importa.
      </p>
    </div>
  </div>
  <div class="flex items-start justify-start mb-12">
    <svg
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="flex-none w-6 h-6 mr-4 text-gray-700"
      aria-hidden="true"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      ></path>
    </svg>
    <div>
      <p class="mt-0 mb-3 font-semibold text-gray-900">
        Acceso Desde Cualquier Lugar
      </p>
      <p class="text-gray-600">
        Sincroniza tus tareas en todos tus dispositivos para llevar tu lista de
        tareas a donde vayas.
      </p>
    </div>
  </div>
  <div class="flex items-start justify-start mb-12">
    <svg
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="flex-none w-6 h-6 mr-4 text-gray-700"
      aria-hidden="true"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      ></path>
    </svg>
    <div>
      <p class="mt-0 mb-3 font-semibold text-gray-900">Seguridad de Datos</p>
      <p class="text-gray-600">
        Tu información es segura con nosotros. Utilizamos las últimas
        tecnologías de seguridad para proteger tus datos.
      </p>
    </div>
  </div>
</section>
