---
---

<div class="bg-[#000000] text-white">
  <div class="max-w-[1750px] mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col items-center">
      <img
        alt="Devices"
        class="mb-8"
        height="100"
        src="/images/all-devices.svg"
        style={{
          aspectRatio: "300/100",
          objectFit: "contain",
        }}
        width="300"
        draggable="false"
      />
      <h2 class="text-3xl font-bold mb-4">
        Una misma cuenta, música en todas partes.
      </h2>
      <div class="flex flex-wrap justify-center gap-2 text-sm">
        <span>MÓVIL</span>
        <span>ORDENADOR</span>
        <span>TABLETA</span>
        <span>COCHE</span>
        <span>PLAYSTATION®</span>
        <span>XBOX</span>
        <span>TV</span>
        <span>ALTAVOZ</span>
        <span>REPRODUCTOR WEB</span>
      </div>
    </div>
  </div>
</div>
