---

---

<header class="flex justify-center items-center bg-black sticky top-0">
  <div class="container flex justify-between items-center py-4">
    <div>
      <a href="/">
        <img
          src="/images/logo.webp"
          class="h-12 object-contain"
          draggable="false"
          alt=""
        />
        <span class="sr-only">Spotify Logo</span>
      </a>
    </div>
    <nav class="space-x-4">
      <a class="text-white/80 hover:text-white" href="/"> Premium</a>
      <a class="text-white/80 hover:text-white" href="/"> Asistencia</a>
    </nav>
    <div class="space-x-4">
      <a
        class="text-white/80 hover:text-white"
        href="https://open.spotify.com/"
      >
        Reproductor Web</a
      >
      <a
        class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-[#ebebeb] bg-[#0d5620]"
        href="https://www.spotify.com/es/download"
      >
        Descargar
      </a>
    </div>
  </div>
</header>
