---

---

<section class="px-0 py-12 mx-auto max-w-7xl sm:px-4">
  <div
    class="grid items-center grid-cols-1 gap-10 px-4 py-6 overflow-hidden text-yellow-900 bg-yellow-100 border-yellow-100 rounded-none card card-body sm:rounded-lg md:px-10 md:grid-cols-5 lg:gap-0"
  >
    <div class="col-span-1 md:col-span-3">
      <h2 class="mb-3 text-2xl font-bold leading-tight lg:text-3xl">
        Únete a la Revolución GymTech hoy
      </h2>
      <p class="mb-6 text-sm lg:text-base">
        En GymTech, no solo es sobre ponerse en forma; es sobre transformar tu
        relación con el fitness. Rompe las barreras de lo convencional y abraza
        el futuro del entrenamiento. ¡Únete a nosotros en GymTech Revolution y
        haz que cada sesión de ejercicio cuente!
      </p>
      <a
        href="/"
        class="w-full text-yellow-900 shadow btn btn-white btn-lg sm:w-auto"
        >Reserva tu membresía hoy mismo.</a
      >
    </div>
    <div class="col-span-1 md:col-span-2">
      <img
        src="https://png.pngtree.com/png-clipart/20220206/original/pngtree-woman-fitness-on-gym-flat-illustration-png-image_7262466.png"
        class="w-full ml-0 select-none lg:ml-48"
        alt=""
      />
    </div>
  </div>
</section>
