---

---

<section
  class="grid grid-cols-1 gap-0 bg-yellow-400 md:grid-cols-2"
>
  <div class="flex flex-col items-start justify-center px-4 py-24 lg:px-20">
    <h1
      class="mb-6 text-4xl font-bold leading-tight text-black md:text-4xl lg:text-5xl"
    >
      ¡Bienvenido a GymTech Revolution!
    </h1>

    <p class="pr-0 mb-4 text-sm text-black tracking-relaxed lg:pr-16">
      Descubre la revolución en el mundo del fitness con GymTech, el gimnasio
      más moderno y tecnológico que transformará tu experiencia de
      entrenamiento. En GymTech, no solo te ponemos en forma, sino que también
      te sumergimos en un entorno vanguardista donde la tecnología y el
      bienestar se encuentran.
    </p>
  </div>
  <div>
    <img
      src="https://images.pexels.com/photos/1954524/pexels-photo-1954524.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="3 women looking at a laptop"
      class="object-cover w-full h-64 bg-gray-100 md:h-full"
      loading="lazy"
    />
  </div>
</section>
