---

---

<section class="py-20 bg-gwhite">
  <div class="container px-4 mx-auto">
    <div class="max-w-2xl mx-auto mb-16 text-center">
      <span class="font-bold tracki uppercase text-yellow-400">PRECIOS</span>
      <h2 class="text-4xl font-bold lg:text-5xl">Escoge tu mejor plan</h2>
    </div>
    <div class="flex flex-wrap items-stretch -mx-4">
      <div class="flex w-full mb-8 sm:px-4 md:w-1/2 lg:w-1/3 lg:mb-0">
        <div
          class="flex flex-grow flex-col p-6 space-y-6 rounded shadow border border-gray-200 sm:p-8 bg-white"
        >
          <div class="space-y-2">
            <h4 class="text-2xl font-bold">Start Strong</h4>
            <span class="text-6xl font-bold"
              >$39.900
              <span class="text-sm tracki">/month</span>
            </span>
          </div>
          <ul class="flex-1 mb-6 text-gray-600">
            <li class="flex mb-2 space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="flex-shrink-0 w-6 h-6 text-yellow-400"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
              <span>Acceso Completo al Gimnasio</span>
            </li>
            <li class="flex mb-2 space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="flex-shrink-0 w-6 h-6 text-yellow-400"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
              <span>Clases Virtuales y en Persona</span>
            </li>
            <li class="flex mb-2 space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="flex-shrink-0 w-6 h-6 text-yellow-400"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
              <span>Aplicación GymTech</span>
            </li>
          </ul>
          <button
            type="button"
            class="inline-block px-5 py-3 font-semibold tracki text-center rounded bg-yellow-400 text-gray-900"
            >Saber más</button
          >
        </div>
      </div>
      <div class="flex w-full mb-8 sm:px-4 md:w-1/2 lg:w-1/3 lg:mb-0">
        <div
          class="flex flex-grow flex-col p-6 space-y-6 rounded shadow sm:p-8 bg-yellow-400 text-gray-900"
        >
          <div class="space-y-2">
            <h4 class="text-2xl font-bold">TechFit Pro</h4>
            <span class="text-6xl font-bold"
              >$79.900
              <span class="text-sm tracki">/month</span>
            </span>
          </div>
          <p class="leadi">Todo Incluido de la Membresía Básica, más:</p>
          <ul class="flex-1 space-y-2">
            <li class="flex items-center space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="flex-shrink-0 w-6 h-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
              <span>Entrenamiento Personalizado Avanzado</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="flex-shrink-0 w-6 h-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
              <span>Entrenamiento Personalizado Avanzado</span>
            </li>
            <li class="flex items-center space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="flex-shrink-0 w-6 h-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
              <span>Zonas de Recuperación Ilimitadas</span>
            </li>
          </ul>
          <a
            rel="noopener noreferrer"
            href="/"
            class="inline-block w-full px-5 py-3 font-bold tracki text-center rounded bg-gray-800 text-yellow-400"
            >Saber más</a
          >
        </div>
      </div>
      <div class="flex w-full mb-8 sm:px-4 md:w-1/2 lg:w-1/3 lg:mb-0">
        <div
          class="flex flex-grow flex-col p-6 space-y-6 rounded shadow border border-gray-200 sm:p-8 bg-white"
        >
          <div class="space-y-2">
            <h4 class="text-2xl font-bold">Total Tech Experience</h4>
            <span class="text-6xl font-bold"
              >$99.900
              <span class="text-sm tracki">/month</span>
            </span>
          </div>
          <p class="leadi text-gray-700">
            Todo Incluido de las Membresías Básica y Premium, más:
          </p>
          <ul class="space-y-2 text-gray-700">
            <li class="flex items-start space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="flex-shrink-0 w-6 h-6 text-yellow-400"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
              <span>Everything in Pro</span>
            </li>
            <li class="flex items-start space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="flex-shrink-0 w-6 h-6 text-yellow-400"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
              <span>Asesoría Nutricional Personalizada</span>
            </li>
            <li class="flex items-start space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="flex-shrink-0 w-6 h-6 text-yellow-400"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
              <span>Acceso VIP a Instalaciones Especiales</span>
            </li>
            <li class="flex items-start space-x-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="flex-shrink-0 w-6 h-6 text-yellow-400"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
              <span>Regalos y Descuentos Exclusivos</span>
            </li>
           
          </ul>
          <a
            rel="noopener noreferrer"
            href="/"
            class="inline-block w-full px-5 py-3 font-semibold tracki text-center rounded bg-yellow-400 text-gray-900"
            >Saber más</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
