---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Why from "../components/Why.astro";
import CTA from "../components/CTA.astro";
---

<Layout title="Orlando Todo List">
  <main>
    <Hero />
    <Features />
    <Why />
    <CTA />
  </main>
</Layout>
